<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo Web Mysql</title>
</head>

<body>
{{#each listaUsuarios}}
    <span> Usuario: <a href="/posts/{{this.nombre}}"> {{this.nombre}} </a> </span>
    <span> Peso: {{this.peso}} </span>
    <span> Altura: {{this.altura}} </span>
{{/each}}


<form name="datosUsuario" action="registrarUsuario" method="POST">
    <label for="nombre">Nombre del usuario:</label>
    <input id="nombre" name="nombre" type="text"/>
    <br/>

    <label for="peso">Peso en kg:</label>
    <input id="peso" name="peso" type="text"/>
    <br/>

    <label for="altura">Altura en mts:</label>
    <input id="altura" name="altura" type="text"/>
    <br/>

    <input type="submit" value="Guardar">
</form>

</body>
</html>